// CSS Properties
:root {
  --color-green: #54e6af;
  --color-light-green: #b3ffe2;
  --color-white: #ffffff;
  --color-dark-gray: #121725;
  --color-medium-gray: #2c344b;
  --color-light-gray: #5a668a;
  --color-lightest-gray: #c2cbe5;
}

// Breakpoints
$bp-tablet: 48em; // 768px
$bp-mobile: 23.5em; //375px

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Chivo", sans-serif;
}

body {
  font-family: "Chivo", sans-serif;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-style: normal;
  font-weight: normal;
  color: var(--color-lightest-gray);
  background-color: var(--color-dark-gray);

  // @media screen and (max-width: $bp-mobile) {
  //   background: linear-gradient(rgba(18, 23, 37, 0.9), rgba(18, 23, 37, 0.9));
  // }
}

h1 {
  font-size: 5.2rem;
  line-height: 6.2rem;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--color-white);

  span {
    color: var(--color-green);
  }
}

.container {
  margin: 0 auto;
  width: 144rem;
  height: 100vh;
  position: relative;

  @media screen and (max-width: $bp-tablet) {
    width: $bp-tablet;
  }

  @media screen and (max-width: $bp-mobile) {
    width: $bp-mobile;
  }
}
